.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: max-content;
  padding-left: 10px;
}

.button {
  display: flex;
  background-color: #00cc66;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--textBlack);
  outline: none;
}
